body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.login-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  max-width: 300px;
  margin-bottom: 50px;
  margin-top: 0px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.logo:hover {
  transform: scale(1.03); /* efek hover lembut */
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #333;
  font-size: 24px;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-container select,
.input-container input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s;
}

.input-container select:focus,
.input-container input:focus {
  border-color: #007bff;
}

.input-container .toggle-password {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container .toggle-password svg {
  width: 24px;
  height: 24px;
  fill: #888;
  transition: fill 0.3s;
}

.input-container .toggle-password:hover svg {
  fill: #0056b3;
}

button.submit-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.submit-button:hover {
  background-color: #0056b3;
}

p.lead {
  margin-top: 0px; /* Dempet ke atas */
  margin-bottom: 40px; /* Jarak ke bawah */
  color: var(--muted);
  font-style: italic;
}

@media (max-width: 600px) {
  .login-container {
    padding: 20px;
    width: 90%;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 0px;
  }

  p.lead {
    margin-top: 0px; /* Dempet ke atas */
    margin-bottom: 40px; /* Jarak ke bawah */
  }

  .input-container select,
  .input-container input {
    padding: 10px;
    font-size: 14px;
  }

  button.submit-button {
    padding: 10px;
    font-size: 14px;
  }
}
